In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import folium
from folium import plugins



df = pd.read_csv('input/CONVENIENT_global_metadata.csv')

df_top10 = pd.read_csv('input/country_wise_latest.csv',
                usecols = [0,1])

In [2]:
df.head()

  Country/Region Province/State       Lat       Long
0    Afghanistan            NaN  33.93911  67.709953
1        Albania            NaN  41.15330  20.168300
2        Algeria            NaN  28.03390   1.659600
3        Andorra            NaN  42.50630   1.521800
4         Angola            NaN -11.20270  17.873900

In [3]:
df_top10 = df_top10.sort_values(by=['Confirmed'],axis=0,ascending=False)
top_10 = df_top10['Country/Region'].tolist()[:10]
top_10

['US',
 'Brazil',
 'India',
 'Russia',
 'South Africa',
 'Mexico',
 'Peru',
 'Chile',
 'United Kingdom',
 'Iran']

In [4]:
df_top10.head()

    Country/Region  Confirmed
173             US    4290259
23          Brazil    2442375
79           India    1480073
138         Russia     816680
154   South Africa     452529

In [5]:
df.drop('Province/State', axis=1, inplace = True)

In [6]:
df.head()

  Country/Region       Lat       Long
0    Afghanistan  33.93911  67.709953
1        Albania  41.15330  20.168300
2        Algeria  28.03390   1.659600
3        Andorra  42.50630   1.521800
4         Angola -11.20270  17.873900