# 1.Humon_activity

## 1.1 import

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# features.txt 파일에는 피처 이름 index와 피처명이 공백으로 분리되어 있음 이를 DF로 로드
feature_name_df = pd.read_csv('./human_activity/features.txt', sep='\s+', header=None, names=['column_index','column_name'])

# 피처명 index를 제거하고, 피처명만 리스트 객체로 생성한 뒤 샘플로 10개만 추출
feature_name = feature_name_df.iloc[:,1].values.tolist()
print('전체 피처명에서')

전체 피처명에서

In [3]:
feature_duf_df = feature_name_df.groupby('column_name').count()
print(feature_duf_df[feature_duf_df['column_index']>1].count())
feature_duf_df[feature_duf_df['column_index'] >1].head()

column_index    42
dtype: int64

                              column_index
column_name
fBodyAcc-bandsEnergy()-1,16              3
fBodyAcc-bandsEnergy()-1,24              3
fBodyAcc-bandsEnergy()-1,8               3
fBodyAcc-bandsEnergy()-17,24             3
fBodyAcc-bandsEnergy()-17,32             3

In [4]:
feature_duf_df

                                      column_index
column_name
angle(X,gravityMean)                             1
angle(Y,gravityMean)                             1
angle(Z,gravityMean)                             1
angle(tBodyAccJerkMean),gravityMean)             1
angle(tBodyAccMean,gravity)                      1
...                                            ...
tGravityAccMag-max()                             1
tGravityAccMag-mean()                            1
tGravityAccMag-min()                             1
tGravityAccMag-sma()                             1
tGravityAccMag-std()                             1

[477 rows x 1 columns]

In [5]:
# index를 다시 부여
feature_duf_df.reset_index()

                              column_name  column_index
0                    angle(X,gravityMean)             1
1                    angle(Y,gravityMean)             1
2                    angle(Z,gravityMean)             1
3    angle(tBodyAccJerkMean),gravityMean)             1
4             angle(tBodyAccMean,gravity)             1
..                                    ...           ...
472                  tGravityAccMag-max()             1
473                 tGravityAccMag-mean()             1
474                  tGravityAccMag-min()             1
475                  tGravityAccMag-sma()             1
476                  tGravityAccMag-std()             1

[477 rows x 2 columns]

## 1.2 get_new_feature_name_df()

In [24]:
# 총 42개의 피처명이 중복되어 있는데 원본 피처명에 _1 또는 _2를 추가로 부여해
# 새로운 피처명을 부여하는 함수
def get_new_feature_name_df(old_feature_name_df):
    feature_duf_df = pd.DataFrame(data=old_feature_name_df.groupby('column_name').cumcount(),columns=['dup_cnt'])
    feature_duf_df = feature_duf_df.reset_index()
    new_feature_name_df = pd.merge(old_feature_name_df.reset_index,feature_duf_df, how='outer')
    new_feature_name_df['column_name'] = new_feature_name_df[['column_name','dup_cnt']].apply(lambda x: x[0]+'_'+str(x[1]) if x[1] > 0 else x[0], axis=1)
    
    new_feature_name_df = new_feature_name_df.drop(['index'], axis =1)
    return new_feature_name_df